---
import Icon from '../../icons/Icon.astro';
import MenuItemAction from '../../components/MenuItemAction.astro';
import type { IconVariantMenuEntry } from '../showcase-icons';

interface Props {
  dataPick: string;
  entries: IconVariantMenuEntry[];
}

const { dataPick, entries } = Astro.props;
---

<MenuItemAction type="button" data-ds-pick={dataPick} data-value="none">
  None
</MenuItemAction>
{
  entries.map((e) => (
    <MenuItemAction type="button" data-ds-pick={dataPick} data-value={e.key}>
      <span slot="slot-start" class="ds-showcase-menu-item-icon" aria-hidden="true">
        <Icon name={e.name} style={e.style} size="s" />
      </span>
      {e.menuLabel}
    </MenuItemAction>
  ))
}
